<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>AUTHOR</th>
        <th>YEAR</th>
        <th>IN STOCK</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"/>
        <td th:text="${book.name}"/>
        <td th:text="${book.author}"/>
        <td th:text="${book.publicationYear}"/>
        <td th:text="${book.inStock}"/>
    </tr>
</table>
</body>
</html>